{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Mon Profil</h1>

    <div class="card p-4">
        {% if user.photo %}
            <img src="{{ asset('uploads/photos/' ~ user.photo) }}" alt="Photo de profil" class="img-thumbnail" width="150">
        {% else %}
            <img src="{{ asset('uploads/photos/default.png') }}" alt="Photo de profil" class="img-thumbnail" width="150">
        {% endif %}

        <p><strong>Nom:</strong> {{ user.nom }}</p>
        <p><strong>Prénom:</strong> {{ user.prenom }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>

        <a href="{{ path('app_profile_edit') }}" class="btn btn-primary">Modifier mon profil</a>
        <a href="{{ path(return_route) }}" class="btn btn-secondary">
            Retour à l'accueil
        </a>
    </div>
</div>
{% endblock %}
