{% extends 'base_internal.html.twig' %}

{% block title %}Analysis Details{% endblock %}

{% block body %}
<div class="container py-5">
    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h2 class="mb-0">Analysis Details</h2>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Date:</dt>
                <dd class="col-sm-9">{{ analyse.date|date('Y-m-d') }}</dd>

                <dt class="col-sm-3">Type:</dt>
                <dd class="col-sm-9">{{ analyse.type }}</dd>
                <dt class="col-sm-3">Patient:</dt>
                <dd class="col-sm-9">
                    {% if analyse.patient and analyse.patient.utilisateur %}
                        {{ analyse.patient.utilisateur.nom }} {{ analyse.patient.utilisateur.prenom }}
                    {% else %}
                        N/A
                    {% endif %}
                </dd>

                <dt class="col-sm-3">Associated RendezVous:</dt>
                <dd class="col-sm-9">
                    {% if analyse.RendezVous %}
                        <a href="{{ path('rendezvous_details', {'id': analyse.RendezVous.id}) }}" class="btn btn-link">
                            RendezVous #{{ analyse.RendezVous.id }} ({{ analyse.RendezVous.date|date('Y-m-d') }})
                        </a>
                    {% else %}
                        None
                    {% endif %}
                </dd>
            </dl>
            
            <a href="{{ path('analyse_list') }}" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Back to List
            </a>
        </div>
    </div>
</div>
{% endblock %}