{# templates/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Medical Appointment System{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/LineIcons.2.0.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/tiny-slider.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/glightbox.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/wow.min.js') }}"></script>
    <script src="{{ asset('assets/js/tiny-slider.js') }}"></script>
    <script src="{{ asset('assets/js/glightbox.min.js') }}"></script>
    <script src="{{ asset('assets/js/count-up.min.js') }}"></script>
    <script src="{{ asset('assets/js/main.js') }}"></script>
{% endblock %}

{% block body %}
    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <!-- Start Hero Area -->
    <section class="hero-area">
        <div class="shapes">
            <img src="{{ asset('assets/images/hero/05.svg') }}" class="shape1" alt="#">
            <img src="{{ asset('assets/images/hero/01.svg') }}" class="shape2" alt="#">
        </div>
        <div class="hero-slider">
            <!-- Single Slider -->
            <div class="single-slider">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="hero-text">
                                <div class="section-heading">
                                    <h2 class="wow fadeInLeft" data-wow-delay=".3s">Find A Doctor & <br>Book Appointment</h2>
                                    <p class="wow fadeInLeft" data-wow-delay=".5s">Our medical team is focused on providing high-quality healthcare services.</p>
                                    <div class="button wow fadeInLeft" data-wow-delay=".7s">
                                        <a href="{{ path('rendezvous_add') }}" class="btn">Book Appointment</a>
                                        <a href="#" class="btn">About Us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="hero-image wow fadeInRight" data-wow-delay=".5s">
                                <img src="{{ asset('assets/images/hero/02.png') }}" alt="#">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Start Appointment Area -->
    <section class="appointment">
        <div class="container">
            <div class="appointment-form">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="appointment-title">
                            <span>Appointment</span>
                            <h2>Book An Appointment</h2>
                            <p>Please feel welcome to contact our friendly reception staff with any general or medical enquiry.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12 p-0">
                        <div class="appointment-input">
                            <label for="name"><i class="lni lni-user"></i></label>
                            <input type="text" name="name" id="name" placeholder="Your Name">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12 p-0">
                        <div class="appointment-input">
                            <label for="email"><i class="lni lni-envelope"></i></label>
                            <input type="email" name="email" id="email" placeholder="Your Email">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12 p-0">
                        <div class="appointment-input">
                            <label for="department"><i class="lni lni-notepad"></i></label>
                            <select name="department" id="department">
                                <option value="none" selected disabled>Department</option>
                                <option value="none">General Surgery</option>
                                <option value="none">Cardiology</option>
                                <option value="none">Neurology</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12 custom-padding">
                        <div class="appointment-btn button">
                            <a href="{{ path('rendezvous_add') }}" class="btn">Get Appointment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Start Achievement Area -->
    <section class="our-achievement section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-12">
                    <div class="single-achievement wow fadeInUp" data-wow-delay=".2s">
                        <i class="lni lni-apartment"></i>
                        <h3 class="counter"><span class="countup" cup-end="1250">1250</span></h3>
                        <p>Hospital Rooms</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12">
                    <div class="single-achievement wow fadeInUp" data-wow-delay=".4s">
                        <i class="lni lni-sthethoscope"></i>
                        <h3 class="counter"><span class="countup" cup-end="350">350</span></h3>
                        <p>Specialist Doctors</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12">
                    <div class="single-achievement wow fadeInUp" data-wow-delay=".6s">
                        <i class="lni lni-emoji-smile"></i>
                        <h3 class="counter"><span class="countup" cup-end="2500">2500</span></h3>
                        <p>Happy Patients</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12">
                    <div class="single-achievement wow fadeInUp" data-wow-delay=".6s">
                        <i class="lni lni-certificate"></i>
                        <h3 class="counter"><span class="countup" cup-end="35">35</span></h3>
                        <p>Years of Experience</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Start Footer Area -->
    <footer class="footer overlay">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="cta">
                            <h3>Need Help?</h3>
                            <p>Please feel free to contact our friendly reception staff with any medical enquiry.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="form">
                            <h3>Subscribe Newsletter</h3>
                            <form action="#" method="get" class="newsletter-form">
                                <input name="EMAIL" placeholder="Your email address" type="email">
                                <div class="button">
                                    <button class="btn">Subscribe</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="inner">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="content">
                                <p class="copyright-text">Medical Appointment System</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script>
        // Initialize sliders and animations
        var slider = new tns({
            container: '.hero-slider',
            slideBy: 'page',
            autoplay: true,
            autoplayButtonOutput: false,
            mouseDrag: true,
            gutter: 0,
            items: 1,
            nav: false,
            controls: true,
            controlsText: [
                '<i class="lni lni-chevron-left"></i>',
                '<i class="lni lni-chevron-right"></i>'
            ]
        });

        // Initialize counter animation
        var cu = new counterUp({
            start: 0,
            duration: 2000,
            intvalues: true,
            interval: 100,
            append: " ",
        });
        cu.start();

        // Initialize WOW.js
        new WOW().init();
    </script>
{% endblock %}