{% extends 'base.html.twig' %}

{% block title %}Bienvenue - Système de Gestion Médicale{% endblock %}

{% block body %}
<!-- Start Hero Area -->
<section class="hero-area">
    <div class="shapes">
        <img src="{{ asset('assets/images/hero/05.svg') }}" class="shape1" alt="#">
        <img src="{{ asset('assets/images/hero/01.svg') }}" class="shape2" alt="#">
    </div>
    <div class="hero-slider">
        <!-- Start Single Slider -->
        <div class="single-slider">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="hero-text">
                            <!-- Start Hero Text -->
                            <div class="section-heading">
                                <h2 class="wow fadeInLeft" data-wow-delay=".3s">Trouvez un Médecin & <br>Prenez Rendez-vous</h2>
                                <p class="wow fadeInLeft" data-wow-delay=".5s">Notre système de gestion médicale vous permet de gérer facilement vos rendez-vous, ordonnances et dossiers médicaux.</p>
                                <div class="button wow fadeInLeft" data-wow-delay=".7s">
                                    <a href="{{ path('rendezvous_add') }}" class="btn">Prendre Rendez-vous</a>
                                    <a href="{{ path('medicament_details', {'id': 1}) }}" class="btn">Voir Médicaments</a>
                                </div>
                            </div>
                            <!-- End Hero Text -->
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="hero-image wow fadeInRight" data-wow-delay=".5s">
                            <img src="{{ asset('assets/images/hero/02.png') }}" alt="#">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slider -->
    </div>
</section>
<!-- End Hero Area -->
{% endblock %}
